BINARYMIME attempts to send content with DATA instead of BDAT command

We are having trouble sending email to a server that supports the BINARYMIME extension. The server is correctly responding with a 503 "Bad sequence of commands" when MailKit sends a DATA command. Please see RFC 3030 section 3, "Framework for the Binary Service Extension":

>The following service extension is hereby defined:
>
>   1) The name of the binary service extension is "BINARYMIME".
>
>   2) The EHLO keyword value associated with this extension is "BINARYMIME".

>   3) The BINARYMIME service extension can only be used with the "CHUNKING" service extension.

...

> BINARYMIME cannot be used with the DATA command.  If a DATA command is issued after a MAIL command containing the body-value of "BINARYMIME", a 503 "Bad sequence of commands" response MUST be sent. The resulting state from this error condition is indeterminate and the transaction MUST be reset with the RSET command.

This is the conversation as dumped via the protocol logger (with personally identifiable information replaced with ?????):

```
EHLO ?????
250-????? Hello [?????]
250-SIZE 20971520
250-PIPELINING
250-DSN
250-ENHANCEDSTATUSCODES
250-AUTH
250-X-EXPS NTLM
250-8BITMIME
250-BINARYMIME
250-CHUNKING
250-XEXCH50
250 XSHADOW
MAIL FROM:<?????> BODY=BINARYMIME
RCPT TO:<?????>
250 2.1.0 Sender OK
250 2.1.5 Recipient OK
DATA
503 5.5.1 Bad sequence of commands
RSET
250 2.0.0 Resetting
```

Is there any chance of altering BINARYMIME to use BDAT as required?

Ah, yes, thanks! I completely forgot to send BDAT instead of DATA in this case. Will have a fix shortly.

I think this should be fixed now, but if you could verify the fix against a real SMTP server that supports BINARYMIME, that would be fantastic.

Unfortunately I do not have access to one so cannot test that this works properly.

I should be able to test it on Monday, but - if you want to test before then - it seems that outlook.com supports BINARYMIME.

Seems to work with outlook.com