SMTPStatusCode 555 is missing (RFC1651)

As mentioned in the title code 555 is missing.
[RFC 1651 Section 6.1](https://tools.ietf.org/html/rfc1651#section-6.1)

Thanks. I compacted all of your patches into a single commit.