Cannot get New (Unseen) messages from IMAP folder from IBM Lotus

**Describe the bug**
Cannot get New messages (using ImapClient) from IBM Lotus, but messages (Unread/New/Unseen) are there.
Folder (Inbox) is open, but  await folder.SearchAsync(SearchQuery.New); returns empty list.
await folder.SearchAsync(SearchQuery.NotSeen); same result - empty list.

I can get only:
await folder.SearchAsync(SearchQuery.All);

Another problem with Lotus IMAP:
these two do not work, cannot set Read flag 
folder.AddFlags(msgId, MessageFlags.Seen, true);
folder.SetFlags(msgId, MessageFlags.Seen, true);

What's wrong with Lotus?

**Platform (please complete the following information):**
 - .NET Framework: .NET 8.0
 - MailKit Version: 4.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. If you have Lotus mail server: try to get New (or Unseen) messages from Inbox folder

**Expected behavior**
Everything works fine with another servers (IMAP), need the same result with Lotus
 
**Code Snippets**
var folder = await client.GetFolderAsync("INBOX");
var folderAccess =  await folder.OpenAsync(FolderAccess.ReadWrite);
var items = await folder.SearchAsync(SearchQuery.New);

//getting empty items list

Any thougths?

>  await folder.SearchAsync(SearchQuery.New); returns empty list.

To understand what might be happening (and again, this is only a *guess*), lets look at some definition of the **NEW** search keyword:

From [RFC 3501, Section 6.4.4](https://www.rfc-editor.org/rfc/rfc3501#section-6.4.4):

```text
      NEW
         Messages that have the \Recent flag set but not the \Seen flag.
         This is functionally equivalent to "(RECENT UNSEEN)".
```

The `\Seen` flag is pretty solid, generally, but in my experience, the `\Recent` flag is not.

From [RFC 3501, Section 2.3.2](https://www.rfc-editor.org/rfc/rfc3501#section-2.3.2):

```text
        \Recent
           Message is "recently" arrived in this mailbox.  This session
           is the first session to have been notified about this
           message; if the session is read-write, subsequent sessions
           will not see \Recent set for this message.  This flag can not
           be altered by the client.

           If it is not possible to determine whether or not this
           session is the first session to be notified about a message,
           then that message SHOULD be considered recent.

           If multiple connections have the same mailbox selected
           simultaneously, it is undefined which of these connections
           will see newly-arrived messages with \Recent set and which
           will see it without \Recent set.
```

The first question I would have at this point (refreshing my own memory of the spec) is:

If you get a Protocol Log of the IMAP connection, when you open the folder (using the `SELECT` command), there should be an untagged response like this:

```text
* RECENT 5
```

Is there a response line like that? What number does it have? Does it accurately reflect the number of "recent" messages in the folder?

> await folder.SearchAsync(SearchQuery.NotSeen); same result - empty list.

This is concerning... I would at least expect this one to work.

> Another problem with Lotus IMAP:
> these two do not work, cannot set Read flag
> folder.AddFlags(msgId, MessageFlags.Seen, true);
> folder.SetFlags(msgId, MessageFlags.Seen, true);

Ouch. When you call `var folderAccess = await folder.OpenAsync(FolderAccess.ReadWrite);`, what is the `folderAccress` return value set to? Is it `FolderAccess.ReadOnly`? Even though you are requesting the folder be opened in `ReadWrite` mode, the IMAP server might downgrade your folder access to `ReadOnly`. It's usually pretty rare that this happens, but it *is* possible. From what I've seen, usually this only happens in 2 scenarios:

1. The mailbox itself on the server only has read-only file permissions
2. Another client has the folder open in READ-WRITE mode and the server only supports a single client having the folder open in READ-WRITE mode at a time. For example, I believe this is (was?) true of University of Washington's IMAP server (which was the reference implementation IMAP server).

> var folder = await client.GetFolderAsync("INBOX");

FWIW, you can just use `client.Inbox` instead of requesting things this way - it'll be faster because you are just directly accessing the cache.

> but all 6 messages are new!

This is probably the most broken concept about the IMAP protocol because so many servers get this wrong - especially IMAP servers that are really just a bridge to a proprietary protocol which is almost always the case with these older systems such as Microsoft Exchange, IBM Lotus Notes/Domino, and Novell GroupWise servers.

I know this because:
1. I used to work for Novell and worked closely with the GroupWise IMAP server team (when I was writing the [Evolution](https://en.wikipedia.org/wiki/GNOME_Evolution) mail client).
2. I am currently employed at Microsoft as a developer on the O365 Exchange server team

> but after that all the messages in the box still have bold font (like new or unread messages)

Do you mean they are still bold in other mail clients you have connected to the same account?

Here's the problem:

```
* CAPABILITY IMAP4rev1 AUTH=PLAIN LITERAL+ NAMESPACE QUOTA UIDPLUS
```

Notice that the server does not support the `IDLE` extension, which means that other clients that you have logged in will need to poll the server for updates, they will not get any sort of "push" notification when the state of messages change.

Even *with* the `IDLE` extension, immediate updates in other clients would not be guaranteed for a variety of reasons, but the most common ones would be:

1. Just because a server supports `IDLE` doesn't mean the clients do
2. Even if the other clients support `IDLE` (and assume the server does too), they might not be in IDLE-mode on the particular folder that you just changed the state of some messages in. The `IDLE` extension only allows a client to "watch" 1 folder at a time for change notifications and that folder tends to be whatever folder the user last had opened.
3. Lots of opportunities for bugs in the server for pushing notifications of said changes to all clients (especially if the the IMAP server is just a bridge to a proprietary protocol that might not have the necessary hooks to support this very well).

Thank you, think we can close the task, solved the problem using FirstUnread property.