How to SELECT/EXAMINE the contents of Gmail folders Sent, Draft, Trash, etc?

Hello. I have been pulling my hair off trying to figure out why the following INBOX subfolders cannot be selected?

I am calling upon your understanding of the protocol rather than how to do this in MailKit given your sheer amount of research.

I am aware of the `\Noselect` flag referenced in [RFC3501 Section 7.2.2](https://tools.ietf.org/html/rfc3501.html#section-7.2.2) on [Gmail] folder **but how then, is one to select their Sent mail for viewing for example**? Are Gmail's Sent, Draft, Trash, etc directories, nothing more than Flags themselves? I'm confused.

```
C: LS02 LIST "" "*"
S: * LIST (\HasNoChildren) "/" "INBOX"
S: * LIST (\HasChildren \Noselect) "/" "[Gmail]"
S: * LIST (\All \HasNoChildren) "/" "[Gmail]/All Mail"
S: * LIST (\Drafts \HasNoChildren) "/" "[Gmail]/Drafts"
S: * LIST (\HasNoChildren \Important) "/" "[Gmail]/Important"
S: * LIST (\HasNoChildren \Sent) "/" "[Gmail]/Sent Mail"
S: * LIST (\HasNoChildren \Junk) "/" "[Gmail]/Spam"
S: * LIST (\Flagged \HasNoChildren) "/" "[Gmail]/Starred"
S: * LIST (\HasNoChildren \Trash) "/" "[Gmail]/Trash"
S: LS02 OK Success
```

The \Noselect attribute only applies to the `[Gmail]` folder itself, not to `[Gmail]/Sent Mail` (or any of the other child folders), so `[Gmail]/Sent Mail` is still SELECT/EXAMINEable.

I see. Can you please provide an example of the command used to select the Sent Mail folder? 

**The following, is not working for me:**

`EX01 EXAMINE [Gmail]/Sent Mail`


The problem is that `[Gmail]/Sent Mail` contains special characters that need to be quoted. Off-hand, I know the space character needs it and I think the ']' character needs it as well (or maybe it's '[', I forget).

```
C: EX01 EXAMINE "[Gmail]/Sent Mail"
```

Wow... quotes. No example online cared to mention this. Not a single one.

Be aware that any string token can also be a literal (e.g. `{5}\r\nhello`), so when parsing server responses, you'll need to keep that in mind (so few open-source implementations do that properly).

Nah. I just love the terminal so I got curious about the most important commands.